<h2>Recent Posts</h2>

<% var count = 0; %>
<% var limit = 3; %>

<% for(var slug in public.posts._data){ %>
  <article>
  <h3><a href="<%-root%>posts/<%= slug %>" rel="bookmark" title="<%= public.posts._data[slug].title %>"><%= public.posts._data[slug].title %></a></h3>
  <%- partial("/posts/" + slug) %>
  <% count++ %>
  </article>
  <% if(count >= limit){ break; }; %>
  <hr>
<% }; %>


<% var posts = Object.keys(public.posts._data);%>

<nav id="pagination"> 
	<a role="button" class="outline">Prev</a>
	
	<% if(count >= posts.length){ %>
	<a role="button" class="outline">Next</a>
	<% } else { %>
	<a href="<%-root%>posts/<%=posts[count]%>" role="button">Next</a>
	<% } %>
  </nav>