<title><%= title %></title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Heath Anderson">

<link rel="stylesheet" href="<%-root%>stylesheets/pico.min.css">

<link rel="alternate" type="application/rss+xml" title="Example Blog Feed" href="<%-url%>/rss.xml">

<link href="<%-root%>stylesheets/prism.css" rel="stylesheet" />

<link rel="stylesheet" href="<%-root%>stylesheets/main.css">


